$timeline-item: #00acc1;
$timeline-item-inverted: #e57373;

body {
    background: url('../img/pattern.svg');
    background-size: cover;
    background-attachment: fixed;
    color: #757575;
    font-family: 'Alegreya Sans', sans-serif;
    letter-spacing: 2px;
    padding-bottom: 60px;
}

.container {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.81);
    padding: 70px 75px;
    margin: 50px auto;
    border: 1px solid white;
}

img {
    max-width: 100%
}

.profile-picture {
    border-radius: 10px;
    background-color: white;
    color: #5b5555;
    font-weight: 800;
    font-size: 72px;
    text-align: center;
    line-height: 145px;
    height: 145px;

}

.row.about {
    height: 418px;
}

ul.hobbies {
    font-size: 16px;
    // Reset des styles par défaut du navigateur pour les ul
    padding: 0;
    margin: 0;
    & li.item {
        &.dev::before {
            font-family: FontAwesome, sans-serif;
            content: '\f121';
            margin-right: 10px;
        }
        &.music::before {
            font-family: FontAwesome, sans-serif;
            content: '\f025';
            margin-right: 10px;
        }
        &.write::before {
            font-family: FontAwesome, sans-serif;
            content: '\f040';
            margin-right: 10px;
        }
    }
}

hr {
    border-top: 1px solid rgba(91, 85, 85, 0.30);
    margin: 40px 0;
}

h1 {
    font-size: 2em;
    font-weight: bolder;
    text-transform: uppercase;
    color: #5b5555;
    margin: 0;
}

h2 {
    font-size: 1.3em;
    background: #f1f1f1;
    padding: 10px;
}

h3 {
    font-size: 1.4em;
    text-transform: uppercase;
    color: #5b5555;
    margin-top: 0;
    font-weight: 800;
}

h4 {
    margin: 15px 0 0;
    font-weight: 800;
}

p,
a {
    line-height: 1.7em;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 16px;
}

li {
    padding: 7px 0;
}

.dl-share .btn {
    min-width: 120px;
}

.signature {
    font-family: 'Kristi', cursive;
    color: #3e3f40;
    font-size: 2.2em;
    margin-top: 20px;
}

.spaced {
    margin-right: 7px;
}

.btn .fa {
    margin-right: 10px;
}

.secicon.fa {
    font-size: 28px;
    color: #5b5555;
    margin-right: 10px;
}

.sub {
    margin-bottom: 15px;
}

.hobbie {
    padding-top: 20px;
}

blockquote {
    font-size: 1em;
    padding: 0 15px;
    margin: 30px 0;
}

.mainleft {
    padding-right: 30px;
}

.year,
.share {
    text-align: right;
}

footer p,
footer a {
    font-size: 13px;
}

.blue {
    color: #428bca;
}

.content {
    margin-top: 330px;
}

header {
    transition: all 0.3s;
    position: fixed;
    padding: 70px 17%;
    left: 0;
    width: 100%;
    top: 0;
    margin-bottom: 0;
    height: 330px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.17);

    &.collapsed {
        height: 100px;
        overflow: hidden;
        padding: 24px 24px 24px 200px;
        background-color: rgba(255, 255, 255, 0.7);

        & .profile-picture {
            background: transparent;
            line-height: 50px;

        }

        & .infos {
            visibility: hidden;
        }

    }

}

.container {
    margin-top: 0;
}

@import "animate.css";
@import "components/timelify/variables";

* {
    box-sizing: border-box;
}

.conversation {

    overflow: hidden;
    display: flex;
    flex-direction: column;

    & .message {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 20px;

        & .profile-pic {
            display: inline-block;
            width: 50px;
            height: 50px;

        }

        & .message-content {
            width: calc(100% - 105px);
            display: flex;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
            & p {
                margin: auto 0;
                padding: 20px;

            }
        }

        &:nth-of-type(2n) {


            & .message-content {
                padding-left: 20px;

                margin-right: 40px;
                color: white;
                background: $timeline-item;



                & a {
                    color: darken($timeline-item, 30%);
                }

                &::after, ::before {
                    top: 21px;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    z-index: 9999;
                    right: 71px;
                }

                &::after {
                    border-color: rgba(136, 183, 213, 0);
                    border-left-color: $timeline-item;
                    border-width: 12px;
                    margin-top: -12px;
                }

                &::before {

                    border-color: rgba(194, 225, 245, 0);
                    border-left-color: lighten($timeline-item, 10%);
                    border-width: 13px;
                    margin-top: -13px;

                }

            }

        }

        &:nth-of-type(2n+1) {
            & .message-content {
                margin-left: 40px;
                padding-left: 20px;

                color: white;
                background: $timeline-item-inverted;

                & a {
                    transition: all 0.3s;
                    color: darken($timeline-item-inverted, 40%);
                    font-weight: 700;
                    &:hover {
                        color: darken($timeline-item-inverted, 70%);
                    }
                }

                &::after, ::before {
                    top: 21px;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    z-index: 9999;
                    left: 68px;
                }

                &::after {
                    border-color: rgba(136, 183, 213, 0);
                    border-right-color: $timeline-item-inverted;
                    border-width: 12px;
                    margin-top: -12px;
                }

                &::before {

                    border-color: rgba(194, 225, 245, 0);
                    border-right-color: lighten($timeline-item-inverted, 10%);
                    border-width: 13px;
                    margin-top: -13px;

                }
            }

        }

        & img {
            border-radius: 100%;
        }

        &.omar {
            flex-direction: row;

        }
    }

}

.action-message {

    text-align: center;
    margin-bottom: 40px;

}

